/* CSS RESET */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-size: 20px;
  line-height: 1.2rem;
  font-family: 'Roboto', sans-serif;
}

/* VARIABLES */

:root {
  --gridBaseSize: 1.75rem;
  --bgColor: white;
  --primaryColor: #0af;
  --borderColor: #aaa;
  --formInactiveBorder: #777;
  --formDisabledBg: #eee;
  --linkColor: var(--primaryColor);
  --fontSizeH1: 1.5rem;
  --fontSizeH2: 1.3rem;
  --fontSizeSmall: 0.8rem;
  --fontSizeSmaller: 0.7rem;
  --textColor: #222;
  --radius: 0.2rem;
}

/* SPECIAL ELEMENTS */

#react-container {
  width: 100%;
  height: 100%;
  color: var(--textColor);
}

/* DEFAULTS */

* {
  box-sizing: border-box;
}

a {
  color: var(--linkColor);
  text-decoration: none;
  display: inline-block;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5em;
}

select,
button,
input {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  display: inline-block;
  outline: none;
  border-radius: var(--radius);
}

input {
  border-style: solid;
  border-width: 1px;
  font-family: 'Roboto', sans-serif;
}

input[type='text']:disabled {
  background-color: var(--formDisabledBg);
  border: solid 1px var(--formInactiveBorder);
}

input[type='text']:focus {
  border-color: var(--primaryColor);
}

/* COLOUR UTILITIES */

.c-bg {
  background-color: var(--bgColor);
}

.c-tx-l1 {
  color: #222;
}

.c-tx-l2 {
  color: #444;
}

/* FONT UTILITIES */

.f-b {
  font-weight: bold;
}

.f-s-h1 {
  font-size: var(--fontSizeH1);
}

.f-s-h2 {
  font-size: var(--fontSizeH2);
}

.f-s-sm1 {
  font-size: var(--fontSizeSmall);
}

.f-s-sm2 {
  font-size: var(--fontSizeSmaller);
}

.f-2lh {
  line-height: 2rem;
}

.f-2elh {
  line-height: 2em;
}

/* SPACE UTILITIES */

.pd {
  padding: var(--gridBaseSize);
}

.pd-x {
  padding-left: var(--gridBaseSize);
  padding-right: var(--gridBaseSize);
}

.pd-x2 {
  padding-left: calc(var(--gridBaseSize) / 2);
  padding-right: calc(var(--gridBaseSize) / 2);
}

.pd-y {
  padding-top: var(--gridBaseSize);
  padding-bottom: var(--gridBaseSize);
}

.pd-y2 {
  padding-top: calc(var(--gridBaseSize) / 2);
  padding-bottom: calc(var(--gridBaseSize) / 2);
}

.pd-y4 {
  padding-top: calc(var(--gridBaseSize) / 4);
  padding-bottom: calc(var(--gridBaseSize) / 4);
}

.pd-xy2 {
  padding: calc(var(--gridBaseSize) / 2);
}

.pd-xy4 {
  padding: calc(var(--gridBaseSize) / 4);
}

.mg {
  margin: var(--gridBaseSize);
}

.mg-x {
  margin: 0 var(--gridBaseSize);
}

.mg-y {
  margin: var(--gridBaseSize) 0;
}

.mg-l {
  margin-left: var(--gridBaseSize);
}

.mg-r {
  margin-right: var(--gridBaseSize);
}

.mg-t {
  margin-top: var(--gridBaseSize);
}

.mg-b {
  margin-bottom: var(--gridBaseSize);
}

.mg-b4 {
  margin-bottom: calc(var(--gridBaseSize) / 4);
}

.w {
  width: 100%;
}

.w-20 {
  width: calc(var(--gridBaseSize) * 20);
}

.h {
  height: 100%;
}

.h-1 {
  height: var(--gridBaseSize);
}

.h-2 {
  height: calc(var(--gridBaseSize) * 2);
}

/* LAYOUT UTILITIES */

.flex {
  display: flex;
}

.flex.dir-y {
  flex-direction: column;
}

.flex.dir-x {
  flex-direction: row;
}

.grow {
  flex-grow: 1;
}

.shrink {
  flex-shrink: 1;
}

.cntr {
  justify-content: center;
}

.cntr-cross {
  align-items: center;
}

.noflex {
  flex-shrink: 0;
  flex-shrink: 0;
}

.of {
  overflow: auto;
}

.of-h {
  overflow: hidden;
}

.of-x {
  overflow-x: auto;
}

.of-y {
  overflow-y: auto;
}

.fix {
  position: fixed;
}

.tl0 {
  top: 0;
  left: 0;
}

.block {
  display: block;
}

.block-i {
  display: inline-block;
}

/* BORDER UTILITIES */

.bd {
  border: solid 1px var(--borderColor);
}

.bd-t {
  border-top: solid 1px var(--borderColor);
}

.bd-l {
  border-left: solid 1px var(--borderColor);
}

.bd-r {
  border-right: solid 1px var(--borderColor);
}

.bd-b {
  border-bottom: solid 1px var(--borderColor);
}

.bd-x {
  border-left: solid 1px var(--borderColor);
  border-right: solid 1px var(--borderColor);
}

.bd-y {
  border-left: solid 1px var(--borderColor);
  border-right: solid 1px var(--borderColor);
}
